{% macro displayViewList(view_list) %}

    {% for view in view_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 view-card">
            <img src="{{ view.poster }}" alt="{{ view.title }} poster" class="img-responsive">
            <li class="text-center">
                <a href="/view/{{view.id}}">
                    {{ view.title|truncate(10)}}</a>
            </li>
        </div>

    {% endfor %}

<!-- Displaying reviews macro -->
{% macro displayReviews(review_list) %}
    {% for review in review_list %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
        <h2> {{ review.title}} </h2>
        <p> {{ review.review | truncate(30) }}</p>
    </div>
    {% endfor %}

{% endmacro %}
