{% macro displaySources(sources) %}
<style>
    
    .jumbotron {
        height: 100px;
        text-align: center;
        padding-top: 20px;

    }
    h1 {
        color: rgba(0, 0, 0, 0.418);
        font-family: 'Chilanka', cursive;
    }
    h3 {
        font-family: 'Lobster Two', cursive;
        text-decoration: underline;
        text-size-adjust: 30px;

    }
    .card {
        background-image: linear-gradient(to right bottom, #4e585c, #627273, #7a8c87, #97a69a, #bac0ad);

    }
</style>

<body>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
    <div class="jumbotron" height="200px">
        <h3><strong>NEWS HIGHLIGHTS</strong> </h3>
    </div>
    </div>

    <br>
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <div class="card-columns">
        {% for source in sources %}
        <div class="card">
            <div class="card-header">
                <a href="{{source.url}}">
                    <h1 class="text-center">{{source.name}}</h1>
                </a>
            </div>
            <div class="card-body">
                <p>{{source.description}}</p>
            </div>
            <div class="card-footer">
                <p class="text-center">Category : {{source.category}}</p>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endmacro %}
</body>